<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049221128488-82im17lencdpi50rl0ddq7p86u3rij3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049221128488-82im17lencdpi50rl0ddq7p86u3rij3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCIHLezooMvCfb7tpRaSSDM88L_XogntC8</string>
	<key>GCM_SENDER_ID</key>
	<string>1049221128488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rededor.assina.mobile</string>
	<key>PROJECT_ID</key>
	<string>assina-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>assina-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049221128488:ios:5620d3dd309f302d1d301d</string>
	<key>DATABASE_URL</key>
	<string>https://assina-react-native.firebaseio.com</string>
</dict>
</plist>